In [1]:
import pandas as pds
import numpy as npy

In [17]:
Dash = pds.read_csv('brazil_covid19.csv',index_col='date')

In [18]:
Dash

                 region state   cases  Death
date
2/25/2020  Centro-Oeste    DF       0      0
2/25/2020  Centro-Oeste    GO       0      0
2/25/2020  Centro-Oeste    MS       0      0
2/25/2020  Centro-Oeste    MT       0      0
2/25/2020      Nordeste    AL       0      0
...                 ...   ...     ...    ...
9/1/2020        Sudeste    RJ  226800  16217
9/1/2020        Sudeste    SP  814375  30375
9/1/2020            Sul    PR  133574   3345
9/1/2020            Sul    RS  127799   3501
9/1/2020            Sul    SC  180474   2301

[5130 rows x 4 columns]

In [19]:
Dash.isnull().sum()

region    0
state     0
cases     0
Death     0
dtype: int64

In [20]:
Dash.info

<bound method DataFrame.info of                  region state   cases  Death
date
2/25/2020  Centro-Oeste    DF       0      0
2/25/2020  Centro-Oeste    GO       0      0
2/25/2020  Centro-Oeste    MS       0      0
2/25/2020  Centro-Oeste    MT       0      0
2/25/2020      Nordeste    AL       0      0
...                 ...   ...     ...    ...
9/1/2020        Sudeste    RJ  226800  16217
9/1/2020        Sudeste    SP  814375  30375
9/1/2020            Sul    PR  133574   3345
9/1/2020            Sul    RS  127799   3501
9/1/2020            Sul    SC  180474   2301

[5130 rows x 4 columns]>

In [21]:
Dash[['Death','state']]

           Death state
date
2/25/2020      0    DF
2/25/2020      0    GO
2/25/2020      0    MS
2/25/2020      0    MT
2/25/2020      0    AL
...          ...   ...
9/1/2020   16217    RJ
9/1/2020   30375    SP
9/1/2020    3345    PR
9/1/2020    3501    RS
9/1/2020    2301    SC

[5130 rows x 2 columns]

In [22]:
Dash[['Death','state','cases']].head(40)

           Death state  cases
date
2/25/2020      0    DF      0
2/25/2020      0    GO      0
2/25/2020      0    MS      0
2/25/2020      0    MT      0
2/25/2020      0    AL      0
2/25/2020      0    BA      0
2/25/2020      0    CE      0
2/25/2020      0    MA      0
2/25/2020      0    PB      0
2/25/2020      0    PE      0
2/25/2020      0    PI      0
2/25/2020      0    RN      0
2/25/2020      0    SE      0
2/25/2020      0    AC      0
2/25/2020      0    AM      0
2/25/2020      0    AP      0
2/25/2020      0    PA      0
2/25/2020      0    RO      0
2/25/2020      0    RR      0
2/25/2020      0    TO      0
2/25/2020      0    ES      0
2/25/2020      0    MG      0
2/25/2020      0    RJ      0
2/25/2020      0    SP      0
2/25/2020      0    PR      0
2/25/2020      0    RS      0
2/25/2020      0    SC      0
2/26/2020      0    DF      0
2/26/2020      0    GO      0
2/26/2020      0    MS      0
2/26/2020      0    MT      0
2/26/2020      0    AL      0
2/26/2020      0    BA      0
2/26/2020      0    CE      0
2/26/2020      0    MA      0
2/26/2020      0    PB      0
2/26/2020      0    PE      0
2/26/2020      0    PI      0
2/26/2020      0    RN      0
2/26/2020      0    SE      0

In [24]:
Dash.groupby('cases').size()

cases
0         480
1          70
2          44
3          18
4          11
         ...
796209      1
801422      1
803404      1
804342      1
814375      1
Length: 3892, dtype: int64

In [27]:
Dash.groupby('Death').count()['region']

Death
0        910
1         89
2         62
3         53
4         52
        ...
29694      1
29944      1
29978      1
30014      1
30375      1
Name: region, Length: 2174, dtype: int64

In [30]:
Dash.groupby('Death').

AttributeError: 'DataFrameGroupBy' object has no attribute 'Max'

In [ ]:
.ipynb_checkpoints/