In [1]:
import pandas as pd

In [10]:
data = [['Danielson','Depts',79,20],['frank','chem',65,23],['jack','biochem',88,23],['john','maths',73,25],['adaeze','foodie',92,26],['eno','chem',73,24]]

In [11]:
df=pd.DataFrame(data,columns=['Names','Depts','Scores','Age'],dtype=float)

In [12]:
df

       Names    Depts  Scores   Age
0  Danielson    Depts    79.0  20.0
1      frank     chem    65.0  23.0
2       jack  biochem    88.0  23.0
3       john    maths    73.0  25.0
4     adaeze   foodie    92.0  26.0
5        eno     chem    73.0  24.0

In [13]:
import pandas as pd
data = [['Danielson','Depts',79,20],['frank','chem',65,23],['jack','biochem',88,23],['john','maths',73,25],['adaeze','foodie',92,26],['eno','chem',73,24]]
df=pd.DataFrame(data,columns=['Names','Depts','Scores','Age'],dtype=float)
print(df)